.catalog {
    margin-top: 96px;

    @include _480 {
        margin-top: 48px;
    }
}

.catalog-product {
    margin-top: 48px;
}

.catalog-main {

    &__title {
        margin-top: 48px;
        margin-bottom: 48px;

        @include _480 {
            margin-bottom: 64px;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        row-gap: 20px;
        height: 100%;
        -moz-column-gap: 20px;
        column-gap: 20px;

        @include _768 {
            justify-content: center;
            column-gap: 18px;
            row-gap: 16px
        }


        a {
            display: contents;
            cursor: pointer;
            text-decoration: none;
            color: $darkColor;
            z-index: 2;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 48px auto 0;
    }

    &__card {
        width: 32%;
        display: flex;
        align-items: stretch;
        height: auto;
        justify-content: space-between;

        @include _768 {
            width: 48%;
        }

        @include _480 {
            width: 100%;
        }
    }
}