.header-nav {
    background-color: $pinkBgColor;
    padding: 60px 0;

    @include _480 {
        padding: 60px 0 60px;
    }

    &__items {
        @include center-between;

        @include _480 {
            flex-direction: column;
        }
    }

    &__title h1 {
        font-size: 24px;
        color: $pinkLightColor;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__points {
        display: flex;

        @include _480 {
            margin-top: 32px;
        }

        ul {
            list-style: none;
            text-transform: uppercase;
            color: #636363;
            cursor: pointer;
            font-size: 16px;
        }

        li {
            display: inline;
            text-transform: uppercase;
            font-weight: 300;
        }

        a {
            text-decoration: none;
            color: #636363;
        }

        .active {
            font-weight: 900;
        }

        li+li:before {
            content: "/\00a0";
            color: #636363;
        }

    }
}